:root {
  --blue: #003366ff;
  --coral: #ff6f61ff;
  --coral-light: #fff8f8;
  --coral-dark: #f05244;
}

html {
  font-size: 16px;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: "Montserrat", serif;
  min-height: 100vh;
  background-color: var(--coral-light);
  padding: 0 30px;
}

h1,
h2 {
  font-weight: 900;
}

.title {
  font-size: 3rem;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.sections-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#title-description {
  width: 60%;
  padding: 50px;
  display: inline-block;
}

#contact-form {
  width: 400px;
  max-width: 90%;
  padding: 40px;
  margin: 20px 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 7px rgb(249, 235, 235);
}

.form-title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.form-body {
  text-align: center;
}

.form-label {
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  font-size: 1rem;
  background-color: var(--coral);
  border-color: var(--coral);
  margin-top: 10px;
}

.btn:hover {
  background-color: var(--coral-dark);
  border: 1px solid var(--coral-dark);
}

.image-container {
  width: 45%;
  max-width: 400px;
  min-width: 150px;
  float: right;
}

img {
  width: 100%;
}

@media screen and (max-width: 810px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 30px 0 80px;
  }
  .sections-container {
    flex-direction: column;
  }

  #title-description {
    width: 100%;
  }

  #contact-form {
    padding: 50px;
  }
}
